<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.hebrewsi1452-2</string>
	<key>CFBundleName</key>
	<string>Hebrew SI 1452-2</string>
	<key>CFBundleVersion</key>
	<string>1.0.3</string>
	<key>KLInfo_Hebrew SI 1452-2</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISIconIsTemplate</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.hebrewsi1452-2.hebrewsi1452-2</string>
		<key>TISIntendedLanguage</key>
		<string>he</string>
	</dict>
</dict>
</plist>
